@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* predefined */
.clear{clear:both;}
.clear10{clear:both;height:10px;}
.clear20{clear:both;height:20px;}
.clear30{clear:both;height:30px;}
.nopadding{padding:0 !important;}
.nomargin{margin:0 !important;}
.force-hide{display:none !important;}

/*Recipe Card - Component*/
.recipe-card-header div{width: 100%;padding-right:0 !important;}
.recipe-card-header div span{
	white-space: nowrap !important;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.recipe-card-component-overlay div span{
	white-space: nowrap !important;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.recipe-card-img{
	background-color: #222;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height:250px;
}

/*Recipe Card - Dialog Component*/
.recipe-dialog{overflow-y: auto !important;}
.recipe-dialog-heading{margin-top:5px;}

.card-dialog-header{padding-bottom: 10px !important;}
.card-dialog-header div{
	padding:0 !important;
	line-height: inherit !important;
}

.recipe-dialog-list{}
.recipe-dialog-list .list-group-item{
	text-transform: capitalize; 
	font-size:12px;
	padding:5px 10px;
}

.recipe-dialog-table tr th{font-size:12px;}
.recipe-dialog-table tr td{font-size:12px;text-transform: capitalize;}

.recipe-tabs .recipe-tab div div{font-size:12px;}

.recipe-dialog-content-image{
	background-color: #222;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:300px;
}

.ingredient-chip span{
	font-size:12px !important;
	text-transform: capitalize;
}
.ingredient-chip{
	display:inline-block !important;
	margin:1px !important;
}
